{{!-- create new post 
        enter post title and contents
        submit btn - auto refresh   --}}


{{!-- posts the logged in user has created
    can update, delete post --}}
    <h1>Dashboard</h1>